spring:
  application:
    name: srd
server:
  port: ${SERVER_PORT:8761}
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
logging:
  level:
    root: ${LOG_LEVEL:INFO}
    com.netflix.eureka: OFF
    com.netflix.discovery: OFF